version: "3"
services:
  db:
    image: postgres:16.1
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: itadaki
    volumes:
      - postgres-data:/var/lib/postgresql/data
volumes:
  postgres-data:
