name: Lint Test

on:
    pull_request:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v4
        - name: Setup Node
          uses: actions/setup-node@v3
          with:
            node-version: 20

        - run: npm install
        - name: Lint
          run: npm run lint